html{
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: var(--body-font);
}
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3{
    font-weight: var(--big-font-height);
}
body,button,input,textarea{
resize: none;
border: none;
outline: none;
font-size: var(--normal-font-size);
background: none;

}
img{
    max-width: 100%;
    height: auto;
}